:root {
  /* Color */
  --white-color: #fff;
  --dark-white-color: #fafafa;
  --red-color: #ff0000;
  --blue-color: #045fd4;
  --black-color: #140a00;
  --grey-color: #909090;
  --grey-light-color: #e0e0e0;
  --p-dark: #1b1b1b;

  /* Size */
  --spacing: 12px;
  --spacing-small: 6px;
  --semi-avatar-size: 24px;
  --avatar-size: 36px;

  /* Font size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: var(--dark-white-color); */
  background-color: black;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  /* background: transparent; */
}

.invisible {
  display: none;
}

/* Header */
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  background-color: black;
  color: var(--white-color);
  z-index: 1;
}

head .title {
  font-family: "Teko", sans-serif;
}

header .logo {
  margin-left: 8px;
}

header .logo .title {
  font-size: var(--font-large);
  color: var(--white-color);
  background: transparent;
}

header .logo .fa-play-circle {
  color: var(--white-color);
}

header .logo i {
  color: var(--white-color);
  font-size: var(--font-large);
}

header .logo .fa-bars {
  padding: 12px;
}

.category {
  display: flex;
  justify-content: space-between;
  background-color: var(--black-color);
}

.category__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: bisque;
  border-radius: 5px;
}
/* 
header .category .category__btn:hover {
  background-color: burlywood;
} */

.projects__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-40px);
  transition: all 200ms ease-in;
}

.category__btn:hover .projects__description {
  opacity: 0.9;
  transform: translateX(0px);
}

.projects__description span {
  color: white;
}

.projects__description span::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  /* height: 2px; */
  /* transform: translateX(-50%); */
  /* margin-top: 8px; */
  background-color: var(--color-dark-white);
}

header .input__search .search__box .key {
  font-size: 16px;
  width: 5%;
  height: 30px;
}

header .icons {
  display: flex;
  align-items: center;
}

header .icons i {
  font-size: 20px;
  color: var(--white-color);
}

header .icons button {
  padding: 8px;
  background: transparent;
}

header .icons img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.navbar__toggle-btn {
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 30px;
  color: white;
  display: none;
  background: transparent;
}

.primary {
  display: flex;
  flex-direction: column;
}

/* Video player */
.player {
  text-align: center;
  padding: 24px 0px;
  background: var(--p-dark);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.info {
  padding-left: 40px;
  background-color: black;
}

.info .metadata .hashtags li {
  margin-right: var(--spacing);
}

.info .title {
  display: flex;
  margin-top: 20px;
}

.info .title .titleclamp {
  font-size: var(--font-medium);
  margin-right: var(--spacing);
  color: var(--white-color);
}

.info .infoAndicons {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .infoAndicons .views {
  font-size: var(--font-small);
  color: var(--grey-color);
}

/* Channel description */
.info .detail {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .detail .metadata {
  display: flex;
  align-items: center;
  padding: var(--spacing-small) 0;
}

.info .detail .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .detail .details {
  padding: 10px;
  font-size: var(--font-medium);
  color: var(--white-color);
}

@media screen and (max-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-dark-blue);
    background: black;
  }

  .title {
    padding-top: 14px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 14px;
    right: 16px;
    font-size: 24px;
  }
  .category {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    padding: 20px 20px 10px 20px;
  }

  .category.open {
    display: block;
  }

  .category__btn {
    width: 100%;
  }
  .icons i {
    display: none;
  }
}
